body{
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
}


#logo{
    background: #CA3413;
}

#menu ul li:hover{
    background: #CA3413;
}

.button-more{
    background: #CA3413;
}

#scroll-top{
    background: #CA3413;
}

#acordeon h3:hover {
    background: #CA3413 !important;
    border-color: #CA3413 !important;
}

#reloj{
    background: #CA3413;
}